<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>ActiveWarehouse ETL - {{ page.title }}</title>

    <link rel="icon" type="image/png" href="/static/images/favicon.png" />
    <meta name="description" content="Ruby ETL solution." />

    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/syntax.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/activewarehouse.base.css" type="text/css" media="screen" />
</head>
<body>
  <div class="container">
    <div class="row Header{% if page.layout != 'homepage' %} with-border{% endif %}">
      <div class="span3 Module logo">
        <h1><a href="/">ActiveWarehouse ETL</a></h1>
      </div>
      <div class="span9">
        <div class="Module navigation">
          <ul>
            <li><a href="/">home</a></li>
            <li><a href="/docs/index.html">documentation</a></li>
            <li><a href="/support.html">support</a></li>
            <li><a href="/contribute/index.html">contribute</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span12">
